body{
	padding: 0;
	font-size: 15px;
}

/*INICIO DIV DO HEADER*/
	.topo{
		height: auto;
		border-bottom: 1px solid #eee;
		margin-bottom: 2px;
	}

	.topo .logo{
		margin-top: 2px;
		left: 0;
	}
/*FINAL DIV DO HEADER*/


/*INICIO BARRA DE NAVEGAÇÃO*/
	.navbar-right{
		margin-right: 0px;
	}
	.navbar .nav>li>a{
		color: #7C7676; /*cor da fonte*/
	}

	.navbar-nav>li>a{
		padding-top: 8px;
		padding-bottom: 4px;
	}

	.navbar .nav>.active>a, .navbar .nav>li>a:focus, .navbar .nav>li>a:hover{
		color: #619D2B; /*VERDE TEMA*/
		background: #fff;
	}

	.navbar .nav>li>a:focus, .navbar .nav>li>a:hover{
		border-bottom: 4px solid #619D2B;
		transition: 0.5s;
	}

	.nav-pills>li>a{
		webkit-border-radius: 0px;
		.border-radius: 0px;
	}
	
	.navbar-login{ 
		font-size: 11px;	
	}
	.menubar{
		margin-top: 3px !important;
	}
/*FINAL BARRA DE NAVEGAÇÃO*/

/* INICIO Botao para expandir menu em tablets e celulares*/
	.navbar-toggle{
		background-image: linear-gradient(to bottom, rgba(97, 157, 43, 1), rgba(165, 199, 135, 1));
		margin-right: 15px;
	}

	.icon-bar{
		background-color: #fff;
	}
/*FINAL Botao para expandir menu em tablets e celulares*/


/*INICIO CAROULSEL*/
	.slide{
		margin-top: 5px;
	}
/*FINAL CAROULSEL*/

/*INICIO BARRA DOS HORARIOS DE CULTO*/
	.div-hr-cultos{
		background: #eee;
		height: 100px;
	}

	.div-ro{
		border-top: 6px solid #619D2B;
		text-align: center;

	}

	.div-eb{
		border-top: 6px solid #5F7CFF;
		text-align: center;
	}

	.div-ed{
		border-top: 6px solid #B24928;
		text-align: center;
	}
/*FINAL BARRA DOS HORARIOS DE CULTO*/

/*INICIO CUSTOMIZAÇÃO DOS BOTÕES DO BOOTSTRAP*/
	.btn-success{
		background: #6CA33B;
		border: #649636
	}

	.btn-success:hover{
		background: #679A38;
		border: #649636
	}

	.btn-primary{
		background: #2342CC;
	}

	.btn-primary:hover{
		background: #1F39B4;
		background: #1D35A7;
	}

/*FINAL CUSTOMIZAÇÃO DOS BOTÕES DO BOOTSTRAP*/

/*INICIO DIV CONTAINER DAS TELAS DE LOGIN/CADASTRO/RESET DE SENHA */
	.fundo-form-log-cad-reset{
		background: #EEE;
	}
/*FINAL DIV CONTAINER DAS TELAS DE LOGIN/CADASTRO/RESET DE SENHA */

/*INICIO SNNIPETS PAINEL ROTATIVO*/
	.stylish-panel {
	    padding: 20px 0;
	    text-align: center;
	}
	.stylish-panel > div > div{
	    padding: 10px;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    transition: 0.2s;
	}
	.stylish-panel > div:hover > div{
	    margin-top: -10px;
	    border: 1px solid rgb(200, 200, 200);
	    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	    background: rgba(200, 200, 200, 0.1);
	    transition: 0.5s;
	}

	.stylish-panel > div:hover img {
	    border-radius: 50%;
	    -webkit-transform: rotate(360deg);
	    -moz-transform: rotate(360deg);
	    -o-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
	    transform: rotate(360deg);
	}
/*FINAL SNNIPETS PAINEL ROTATIVO*/

/*dispositivo no formato paisagem e abaixos */
@media (max-width: 480px) {
	.topo{
		height: auto;
		padding: 0 10px;
	}
	

	.topo .logo{
		width: 200px;
	}

	.topo .nav-pills{
		margin-top: 30px;
	}

	.menubar{
		margin-top: 0 !important;
	}

	.topo .nav-collapse{
		width: 94%;
	}

	.b1, .b2{
		display: none;
	}

	.div-hr-cultos{
		height: auto;
	}

	.div-ro{
		border-top: 3px solid #619D2B;

	}

	.div-eb{
		border-top: 3px solid #5F7CFF;
	}

	.div-ed{
		border-top: 3px solid #B24928;
	}

}

/* Dispositivos em paisagem até os Tablets em formato porta-retrato */
@media (max-width: 767px) { 
	body{
		font-size: 12px;
	}

	.navbar-login{ 
		font-size: 9px;	
	}

	.topo{
		height: auto;
		padding: 0 10px;
	}

	.topo .logo{
		width: 180px;
	}

	.topo .nav-pills{
		margin-top: 30px;
	}

	.menubar{
		margin-top: 0 !important;
	}

	.topo .nav-collapse{
		width: 94%;
	}

	.b1, .b2{
		display: none;
	}

	.div-hr-cultos{
		height: auto;
	}

	.div-ro{
		border-top: 3px solid #619D2B;

	}

	.div-eb{
		border-top: 3px solid #5F7CFF;
	}

	.div-ed{
		border-top: 3px solid #B24928;
	}
}

/* Tablets em formato porta retrato até os desktos no formato paisagem */
@media (min-width: 768px) and (max-width: 992px) { 
	.topo{
		height: auto;
		padding: 0 10px;
	}

	.topo .logo{
		width: 250px;
	}

	.topo .nav-pills{
		margin-top: 50px;
	}
	.menubar{
		margin-top: 0 !important;
	}

	.topo .nav-collapse{
		width: 94%;
	}

	.b1, .b2{
		display: none;
	}

	.div-hr-cultos{
		height: auto;
	}

	.div-ro{
		border-top: 3px solid #619D2B;

	}

	.div-eb{
		border-top: 3px solid #5F7CFF;
	}

	.div-ed{
		border-top: 3px solid #B24928;
	}
}

/* Desktop maiores */
@media (min-width: 1200px) { 
	
}